%btn1 {
    height: 50px;
    background-color: $color3;
    color: #fff;
    font-size: $font21;
    border-radius: 2px;
    border: none;
    @extend %shadow;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    z-index: 99;
    cursor: pointer;
    outline: none;

    &:before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background-color: #2b5083;
        border: none;
        position: absolute;
        top:0%;
        right:100%;
        @extend %trans;
        z-index: -1;
    }
    &:after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background-color: #2b5083;
        border: none;
        position: absolute;
        top:0%;
        left:100%;
        @extend %trans;
        z-index: -1;
    }

    &:hover {
        &:before {
            top: 0;
            right: 0;
        }
        &:after {
            top: 0;
            left: 0;
        }
    }
}

%btn2 {
    height: 50px;
    background-color: $color2;
    color: #fff;
    font-size: $font21;
    border-radius: 2px;
    border: none;
    @extend %shadow;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    z-index: 99;
    cursor: pointer;
    outline: none;

    &:before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background-color: #F8CA68;
        border: none;
        position: absolute;
        top: 0%;
        left: -100%;
        @extend %trans;
        z-index: -1;
    }
    &:after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background-color: #F8CA68;
        border: none;
        position: absolute;
        top:0%;
        right:-100%;
        @extend %trans;
        z-index: -1;
    }

    &:hover {
        &:before {
           left: 0;
        }
        &:after {
          
            right: 0;
        }
    }
}

%input {
    border: 1px solid $main-color;
    // border-radius: 5px;
    background-color: #fff;
    height: 40px;
    font-size: $font16;
    color: $main-color;
    text-indent: 15px;
}

%select {
    background-color: #fff;
    border: 1px solid $main-color;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    height: 40px;
    // border-radius: 5px;
    background: url(../Images/Icons/Arrow-Dropdown.png) center left no-repeat;
    background-position-x: 8px;
    text-indent: 10px;
}

%trans {
    -webkit-transition: all ease-in-out .3s;
    -moz-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
    -ms-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s;
}

%shadow {
    -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, .16);
    -moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, .16);
    -o-box-shadow: 0px 0px 6px rgba(0, 0, 0, .16);
    -ms-box-shadow: 0px 0px 6px rgba(0, 0, 0, .16);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, .16);
}
%head-text{
    font-size: $font36;
    color: $color3;
}